{
    "account": "{{account}}",
    "host": "{{host}}",
    "port": "{{port}}",
    "network_id": "{{network_id}}",
    "private_key": "{{private_key}}",
    "private_key_pwd": "{{private_key_pwd}}"
}
